/* ----------------------SECTION HERO---------------------- */

.section__hero{
    position: relative;
    height: 800px;
    max-width: 100vw;
    padding-top: 80px;
}

.section__hero--container{
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 0 40px;
    z-index: 1;
    gap: 24px;
    color: var(--neutral-color-white);
}   

.section__hero--h1{
    width: 526px;
    font-weight: 600;
    font-size: 56px;
    margin: 0;
    color: var(--neutral-color-white);
}

.section__hero--h1 span{
    font-weight: 900;
}

.section__hero--p{
    width: 659px;
    height: 60px;
    font-weight: 300;
    font-size: 20px;
    line-height: 136.69%;
}

.section__hero--p span{
    background: linear-gradient(119.3deg, #80DE95 3.17%, #1A8BF3 110.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    background-clip: text;
    text-fill-color: transparent
}

.section__hero--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 48px;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 2rem;
    position: relative;
    color: var(--neutral-color-white);
    background: var(--bg-gradient-secondary);
    transition: all .4s ease-in-out;
}

.section__hero--btn img{
    display: none;
    transition: all .4s ease-in-out;
    height: 26px;
}

.section__hero--bg{
    position: absolute;
    top: 0;
    width: 100%;
    height: 800px;
    z-index: -10;
}

.section__hero--bg img{
    width: 100%;
    height: 100%;
}

/* ----------------------SECTION STEPS---------------------- */

.section__steps{
    flex-direction: column;
    position: relative;
    max-width: 100vw;
    height: 705px;
    padding: 60px 0;
    background-color: var(--bg-color);
}

.section__steps--h2{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-color-variant);
}

.section__steps--h2 span{
    background: linear-gradient(119.3deg, #80DE95 3.17%, #1A8BF3 110.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent
}

.section__steps--container{
    position: relative;
    width: 90%;
    gap: 32px;
}

.section__steps--progress-bar{
    position: absolute;
    top: 253px;
    height: 10px;
    width: 73%;
    border-bottom: 2px solid rgba(128, 128, 128, 0.384);
    z-index: 0;
}

.section__steps--box{
    justify-items: flex-start;
    flex-direction: column;
    width: 300px;
    height: 250px;
    gap:16px;
    z-index: 1;
}

.section__steps--box-head{
    width: 50px;
    height: 50px;
    background: var(--primary-color);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.15);
    border-radius: 100%;
}

.section__steps--box-head p{
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: var(--neutral-color-white);
}

.section__steps--box-h3{
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-color-variant);
}

.section__steps--box-p{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--neutral-color-gray);
}

.section__steps--box:nth-child(4) .section__steps--box-head {
    background: var(--bg-gradient-main);
    box-shadow: 0px 0px 20px 11px rgba(43, 187, 144, 0.3);
}

.section__steps--btn{
    width: 300px;
    height: 48px;
    border: none;
    border-radius: 4px;
    background-color: var(--tertiary-color);
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--neutral-color-white);
    transition: all .4s ease;
}

/* ----------------------SECTION EXPERTISES---------------------- */

.section__expertises{
    flex-direction: column;
    max-width: 100vw;
    height: 900px;
    padding: 60px 0;
    overflow: hidden;
}

.section__expertises--h2{
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    color: var(--primary-color-variant);
}

.section__expertises--h2 span{
    background: linear-gradient(119.3deg, #80DE95 3.17%, #1A8BF3 110.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent
}

.section__expertises--container{
    width: 90%;
}

.section__expertises--left-collumn{
    position: relative;
    width: 510px;
    height: 588px;
}

.section__expertises--left-collumn-img{
    width: 398px;
    height: 555px;
    border-radius: 12px;
    z-index: 3;
}

.section__expertises--left-collumn-img-detail{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 204px;
    height: 204px;
    z-index: 2;
}

.section__expertises--left-collumn-detail{
    position: absolute;
    width: 200px;
    height: 200px;
    right: -10px;
    top: 127px;
    border-radius: 100%;
    background-color: var(--tertiary-color);
    z-index: 1;
}

.section__expertises--left-collumn-title{
    position: absolute;
    height: 40px;
    width: fit-content;
    bottom: 40px;
    left: 70px;
    color: var(--neutral-color-white);
    z-index: 4;
}

.section__expertises--collumn{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 250px 250px;
    width: 641px;
    padding: 28px;
}

.section__expertises--collumn-item{
    flex-direction: column;
    gap: 18px;
    margin: 16px;
    padding: 10px;
}

.section__expertises--collumn-item-img{
    width: 50px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--secondary-color);
}

.section__expertises--collumn-item-img img{
    height: 30px;
    width: 30px;
}

.section__expertises--collumn-item h3{
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--neutral-color-gray);
}

.section__expertises--collumn-item p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: var(--primary-color);
}

/* ----------------------SECTION SERVICES---------------------- */

.section__services{
    position: relative;
    flex-direction: column;
    max-width: 100vw;
    height: fit-content;
    padding: 60px 0;
    background: var(--bg-gradient-tertiary);
}

.section__services--title{ 
    height: 140px;
    width: 90vw;
}

.section__services--title-text{
    flex-direction: column;
    height: 100%;
    width: 320px;
    gap: 12px;
    color: var(--neutral-color-white);
}

.section__services--title span {
    background: linear-gradient(119.3deg, #80DE95 3.17%, #1A8BF3 110.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent
}

.section__services--title-text h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
}

.section__services--title-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.section__services--title-button{
    width: 290px;
    height: 50px;
    padding: 13px 29px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--neutral-color-white);
    background: none;
    transition: all 0.3s ease-in-out;
}

.section__services--cards{
    width: 90%;
    flex-wrap: wrap;
    gap: 20px;
    perspective: 800px;
    z-index: 100;
    margin: 80px ;
}

.section__services--card{
    flex-direction: column;
    text-align: center;
    width: 280px;
    height: 384px;
    gap: 16px;
    padding: 48px 20px;
    border: 1px solid transparent;
    border-radius: 12px;
    background: rgba(69, 153, 233, 0.1);
    box-shadow: 7px 4px 36px -8px rgba(56, 56, 56, 0.15), inset 0px 0px 51px 20px rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(26.5px);
    color: var(--neutral-color-white);
    transition: all .3s ease-in
}

.section__services--card h3 {
    font-weight: 700;
    font-size: 20px;
}

.section__services--card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.section__services--card span{
    font-weight: 500;
    background: linear-gradient(119.3deg, #80DE95 3.17%, #1A8BF3 110.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent
}

.section__services--light-bg{
    position: absolute;
    top: 300px;
    width: 700px;
    height: 700px;
    border-radius: 100%;
    background: var(--bg-gradient-quaternary);
    filter: blur(100px);
    opacity: 50%;
    animation: animate-bg 6s infinite alternate;
}

/* ----------------------HOVER---------------------- */
    
.section__hero--btn:hover {
    width: 400px;
    background-color: #ffffff3a;
    cursor: pointer;
}

.section__hero--btn:hover img{
    display: flex;
    position: absolute;
    right: 0;
    padding-right: 1rem;
}

.section__steps--btn:hover{
    cursor: pointer;
    background-color: #71c684;
    box-shadow: inset 5px 5px 20px rgba(92, 84, 84, 0.288);
}

.section__services--title-button:hover {
    cursor: pointer;
    background-color: #ffffff5d;
}

.section__services--card:hover{
    cursor: pointer;
    transform: scale(1.05);
    border: 1px solid rgba(255, 255, 255, 0.356);
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.11);
}

/*<-------------------ANIMATION-------------------> */


@keyframes animate-bg {
    0%{
        transform: rotateY(30deg) rotate(-25deg) translateZ(100px);
    }
    25%{
        transform: rotateY(-30deg) translateZ(100px);
    }
    50%{
        transform: rotateX(50deg) translateZ(-100px);
    }
    75%{
        transform: rotateX(-50deg) translateZ(-100px);
    }
    100%{
        transform: rotateX(20deg) translateZ(0);
    }
}