/* ----------------------SECTION HERO---------------------- */

.section__hero{
    position: relative;
    height: 800px;
    max-width: 100vw;
    padding-top: 80px;
}

.section__hero--container{
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 0 40px;
    z-index: 1;
    gap: 24px;
    color: var(--neutral-color-white);
}   

.section__hero--h1{
    width: 526px;
    font-weight: 600;
    font-size: 56px;
    margin: 0;
    color: var(--neutral-color-white);
}

.section__hero--h1 span{
    font-weight: 900;
}

.section__hero--p{
    width: 659px;
    height: 60px;
    font-weight: 300;
    font-size: 20px;
    line-height: 136.69%;
}

.section__hero--p span{
    background: linear-gradient(119.3deg, #80DE95 3.17%, #1A8BF3 110.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    background-clip: text;
    text-fill-color: transparent
}

.section__hero--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 48px;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 2rem;
    position: relative;
    color: var(--neutral-color-white);
    background: var(--bg-gradient-secondary);
    transition: all .4s ease-in-out;
}

.section__hero--btn img{
    display: none;
    transition: all .4s ease-in-out;
    height: 26px;
}

.section__hero--bg{
    position: absolute;
    top: 0;
    width: 100%;
    height: 800px;
    z-index: -10;
}

.section__hero--bg img{
    width: 100%;
    height: 100%;
}

/* ----------------------SECTION STEPS---------------------- */

.section__steps{
    flex-direction: column;
    position: relative;
    max-width: 100vw;
    height: 705px;
    padding: 60px 0;
    background-color: var(--bg-color);
}

.section__steps--h2{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-color-variant);
}

.section__steps--h2 span{
    background: linear-gradient(119.3deg, #80DE95 3.17%, #1A8BF3 110.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent
}

.section__steps--container{
    position: relative;
    width: 90%;
    gap: 32px;
}

.section__steps--progress-bar{
    position: absolute;
    top: 253px;
    height: 10px;
    width: 73%;
    border-bottom: 2px solid rgba(128, 128, 128, 0.384);
    z-index: 0;
}

.section__steps--box{
    justify-items: flex-start;
    flex-direction: column;
    width: 300px;
    height: 250px;
    gap:16px;
    z-index: 1;
}

.section__steps--box-head{
    width: 50px;
    height: 50px;
    background: var(--primary-color);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.15);
    border-radius: 100%;
}

.section__steps--box-head p{
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: var(--neutral-color-white);
}

.section__steps--box-h3{
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-color-variant);
}

.section__steps--box-p{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--neutral-color-gray);
}

.section__steps--box:nth-child(4) .section__steps--box-head {
    background: var(--bg-gradient-main);
    box-shadow: 0px 0px 20px 11px rgba(43, 187, 144, 0.3);
}

.section__steps--btn{
    width: 300px;
    height: 48px;
    border: none;
    border-radius: 4px;
    background-color: var(--tertiary-color);
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--neutral-color-white);
    transition: all .4s ease;
}

/* ----------------------HOVER---------------------- */
    
.section__hero--btn:hover {
    width: 400px;
    background-color: #ffffff3a;
    cursor: pointer;
}

.section__hero--btn:hover img{
    display: flex;
    position: absolute;
    right: 0;
    padding-right: 1rem;
}

.section__steps--btn:hover{
    cursor: pointer;
    background-color: #71c684;
    box-shadow: inset 5px 5px 20px rgba(92, 84, 84, 0.288);
}