
@media screen and (max-width: 768px) {
    
    .section__cta{
        height: fit-content;
        padding: 60px 0;
        gap: 40px;
    }

    .section__cta--title h2{
        font-size: 24px;
        line-height: 28px;
        width: 70%;
        margin-bottom: 10px;
    }

    .section__cta--title p{
        font-size: 20px;
        line-height: 28px;
        width: 70%;
    }

    .section__cta--btns{
        flex-direction: column;
    }

    .section__cta--btn1{
        width: 280px;
    }
    
    .section__cta--btn2{
        width: 280px;
    }
}